@model SvivaTeamVersion3.Models.ReportModel
@using SvivaTeamVersion3.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@using System.Security.Claims

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = await UserManager.FindByIdAsync(userId);
}

<h4>Add Report</h4>
<hr />
@using (Html.BeginForm("Upload", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-7">
            <form asp-action="Upload"> @*Add the user*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*Stage No. 1*@
                <div class="card-container">
                    <div class="card">
                        <div class="card-header">
                            <div class="progress-container">
                                <div id="progress-bar" class="progress-bar"></div>
                            </div>
                            <h5 id="report-info" class="card-title">Report Information</h5>
                        </div>

                        <div class="card-body">
                            <div id="stg1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="category" class="control-label"></label>
                                            <select asp-for="category" name="Category" id="Category" class="form-control">
                                                <option value="Road_Problems">Road problems</option>
                                                <option value="Urban_Problems">Urban problems</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <span asp-validation-for="category" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="title" class="control-label"></label>
                                            <select id="Road_Problems1" class="form-control">
                                                <option value="Accident">Accident</option>
                                                <option value="Disturptive_object">Disturptive object</option>
                                                <option value="Disturptive_parkings">Disturptive parking</option>
                                                <option value="Defective_indication">Defective indication</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <select id="Urban_problems1" class="form-control">
                                                <option value="Neigborhood_problen">Neigborhood problem</option>
                                                <option value="Pollution">Pollution</option>
                                                <option value="Animals">Animals</option>
                                                <option value="Disturptive_object">Disturptive object</option>
                                                <option value="Tag">Tag</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <select id="Other1" class="form-control">
                                                <option value="Other">Other</option>
                                            </select>
                                            <span asp-validation-for="title" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div text-container>
                                        <div class="form-group">
                                            <label asp-for="remarks" class="control-label"></label>
                                            <textarea asp-for="remarks" maxlength="250" id="remarks" class="form-control" cols="50" rows="10" style="height: 140px; width: 100%; resize:none;"></textarea>
                                            <span asp-validation-for="remarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="statUrgence" class="control-label"></label>
                                            <select asp-for="statUrgence" name="statUrgence" id="statUrgence" class="form-control">
                                                <option value="veryUrgent">Very Urgent</option>
                                                <option value="Urgent">Urgent</option>
                                                <option value="NotUrgent">Not Urgent</option>
                                            </select>
                                            <span asp-validation-for="statUrgence" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ExpireDate"></label>
                                            <attr title="Choose a date until the ad will be avilable">
                                                <input id="expireDate" asp-for="ExpireDate" class="form-control" />
                                            </attr>
                                            <span asp-validation-for="ExpireDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    @*Stage No. 2*@

                                    <div id="stg2">
                                        <div class="form-group row">
                                            <label asp-for="File" class="col-sm-2 col-form-label"></label>
                                            <div class="custom-file" style="left:3.7%;">
                                                <input type="file" class="form-control custom-file-input" id="File_Upload" name="File" onchange="readURL(this);" accept="image/*" multiple />
                                                <label class="custom-file-label">Chose File</label>
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                        <div class="form-group" id="display_image" style="display: none; overflow-y: scroll; height: 400px; width: auto;">
                                            <output id="result" style="overflow-y:scroll; height:400px; width:auto; "></output>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="position: relative; left: 2%;">
                                @*<div class="col-md-6">*@
                                    @*Stage No. 3*@

                                    <div id="stg3">
                                        <link rel="stylesheet" href="~/css/ol.css">
                                        <link rel="stylesheet" href="~/css/ol-ext.css">
                                        <script src="~/js/ol.js"></script>
                                        <script src="~/js/ol-ext.js"></script>

                                        <div id="map" style="width:600px; height:400px;">
                                            <div class="photon ol-search ol-unselectable ol-control ol-collapsed">
                                                <input type="search" class="search" placeholder="Search..."> @*autocomplete="off"*@
                                                <input type="button" class="ol-revers" title="click on the map">
                                                <ul class="autocomplete history">
                                                    <li data-search="0"> 398<i> 9350004 Jérusalem (Israël)</i></li>
                                                    <li class="copy"><a href="http://www.openstreetmap.org/copyright" target="new">© OpenStreetMap contributors</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="button-70" style="z-index:1;" id="location-button">
                                            <input type="button" value="📍 Get current location" id="location-button" />
                                        </div>
                                        <div class="form-group row">
                                            <div class="form-group">
                                                <attr id="SubmitStatus" title="Please choose a location before you submit your report."><input type="submit" id="AddReportToDB" disabled value="Add Report" class="btn btn-primary" /></attr>
                                            </div>
                                        </div>
                                    </div>
                                @*</div>*@
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-between">
                                    <input type="button" id="Prev-report" class="btn btn-danger" value="Previous">
                                    <input type="button" id="Next-report" class="btn btn-primary" value="Next">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="UserId" type="hidden" class="form-control" id="Id" value="@user.Id" />
                </div>

                <div class="form-group">
                    <input asp-for="coordLat" type="hidden" class="form-control" id="lat" />
                </div>

                <div class="form-group">
                    <input asp-for="coordLong" type="hidden" class="form-control" id="long" />
                </div>

                <div class="form-group">
                    <input asp-for="title" type="hidden" class="form-control" id="hiddenTitle" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/js/Create.js"></script>
    }