/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
    text-align: center;
}

.ChangeLan:hover {
    text-decoration: underline;
}

#lang-switch {
    border-radius: 20px;
    transform: scale(1.15);
    left: 5%;
    background-color: black;
    color: snow;
}

#lan1, #lan2 {
    color: snow;
}

.button-70 #location-button {
    background: none;
    border: none;
    transform: scale(2)
}

.button-70 {
    transform: scale(0.7);
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.form-group #Other1, #Urban_problems1 {
    display: none;
}

/*Stages CSS*/
.card-container {
    position: relative;
    left: 30%;
    /*transform: translateX(-50%);*/
}

#report-info {
    position: relative;
    left: 36%;
}

.text-container {
    position: relative;
    left: 30%;
    /*transform: translateX(-50%);*/
}

.progress-container {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.progress-bar {
    height: 100%;
    background-color: red;
    width: 0%;
    transition: width 0.5s;
}

.progress-bar.yellow {
    background-color: yellow;
}

.progress-bar.green {
    background-color: green;
}

.button-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.center-button {
    margin: 10px;
}