@model SvivaTeamVersion3.Models.CreateRoleModel

@{
    ViewBag.Title = "Create New Role";
}

<h1>Create New Role</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" required/>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create Role</button>
        </form>
    </div>
</div>

